src/main/resources/resources/ERZ/NotifyApplicationUpdateRq_IM.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by AllCome (NONE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0.7">
	<xs:simpleType name="UUID">
		<xs:annotation>
			<xs:documentation>Базовый тип для UUID КСШ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
			<xs:pattern value="[0-9a-zA-Z]{32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="decimal7">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="7"/>
			<xs:totalDigits value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string10">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string11">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string14">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string25">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string30">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string32">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string75">
		<xs:restriction base="xs:string">
			<xs:maxLength value="75"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string100">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string150">
		<xs:restriction base="xs:string">
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string250">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string255">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string256">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string275">
		<xs:restriction base="xs:string">
			<xs:maxLength value="275"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string500">
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string1000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string1024">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string2000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SBRFDateTimeType">
		<xs:annotation>
			<xs:documentation>Дата/время в формате MM/DD/YYYY HH:MM:SS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{2}/[0-9]{2}/[0-9]{4} [0-9]{2}:[0-9]{2}:[0-9]{2}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SBRFDate_Type">
		<xs:annotation>
			<xs:documentation>Дата в формате MM/DD/YYYY</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{2}/[0-9]{2}/[0-9]{4})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="HeaderInfoType">
		<xs:attribute name="RqUID" type="UUID" use="required"/>
		<xs:attribute name="RqTm" type="SBRFDateTimeType" use="required"/>
		<xs:attribute name="SPName" type="string50" use="required"/>
		<xs:attribute name="SystemId" type="string50" use="required"/>
	</xs:complexType>
	<xs:complexType name="ClientInfo_Type">
		<xs:sequence>
			<xs:element name="LastName" type="string50"/>
			<xs:element name="FirstName" type="string50"/>
			<xs:element name="MiddleName" type="string50" minOccurs="0"/>
			<xs:element name="BirthDate" type="SBRFDate_Type" minOccurs="0"/>
			<xs:element name="DocNumber" type="string275"/>
			<xs:element name="DocType" type="string150" minOccurs="0"/>
			<xs:element name="ClientEPKId" type="string100" minOccurs="0"/>
			<xs:element name="MobilePhone" type="string14" minOccurs="0"/>
			<xs:element name="Email" type="string255" minOccurs="0"/>
			<xs:element name="CustomerValue" type="string30" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Текущий сегмент клиента
                    S_CONTACT.CUST_VALUE_CD
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Member_Type">
		<xs:complexContent>
			<xs:extension base="ClientInfo_Type">
				<xs:sequence>
					<xs:element name="Status" type="string255" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                            Статус участника заявки
                            CX_OPTY_CON.STATUS
                        </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Type" type="string255" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                            Тип (роль) участника заявки (если тип заполнен выполняется создание/обновление записи в CRM в таблице участника сделки)
                            CX_OPTY_CON.TYPE
                        </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OptyMemberUfsId" type="string100" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                            Идентификатор участника заявки из ЕФС (соответствует идентификатору клиента в ЕПК)
                            CX_OPTY_CON.OPTY_MEMBER_UFS_ID
                        </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrimaryClient" type="string1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                            Признак обновления основного клиента на заявке
                        </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="Mortgage_Member"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MemberList_Type">
		<xs:sequence>
			<xs:element name="Member" type="Member_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Employee_Type">
		<xs:sequence>
			<xs:element name="Login" type="string50"/>
			<xs:element name="Phone" type="string14" minOccurs="0"/>
			<xs:element name="Email" type="string255" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmployeeList_Type">
		<xs:sequence>
			<xs:element name="Employee" type="Employee_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="CommonFields">
		<xs:sequence>
			<xs:element name="IntegrationId" type="string100"/>
			<xs:element name="ModificationNum" type="xs:integer" minOccurs="0"/>
			<xs:element name="OptyType" type="string100"/>
			<xs:element name="UKCode" type="string75" minOccurs="0"/>
			<xs:element name="Channel" type="string30" minOccurs="0"/>
			<xs:element name="Currency" type="string20" minOccurs="0"/>
			<xs:element name="Comments" type="string2000" minOccurs="0"/>
			<xs:element name="CreatedByLogin" type="string50"/>
			<xs:element name="CreatedByWorkPhone" type="string14" minOccurs="0"/>
			<xs:element name="CreatedByEmail" type="string255" minOccurs="0"/>
			<xs:element name="LastAppLogin" type="string50" minOccurs="0"/>
			<xs:element name="Status" type="string30" minOccurs="0"/>
			<xs:element name="CRMProductId" type="string15" minOccurs="0"/>
			<xs:element name="CRMLinkedOptyNumber" type="string30" minOccurs="0"/>
			<xs:element name="Stage" type="string50" minOccurs="0"/>
			<xs:element name="StatusChangeDate" type="SBRFDateTimeType" minOccurs="0"/>
			<xs:element name="MobileNumber" type="string14" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Мобильный телефон (с заявки)
                    SBRF Key Contact Mobile #
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkNumber" type="string14" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Рабочий телефон (с заявки)
                    SBRF Key Contact Work Phone #
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddNumber" type="string14" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Дополнительный телефон (с заявки)
                    SBRF Alternate Phone
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerLogin" type="string50" minOccurs="0"/>
			<xs:element name="OwnerWorkPhone" type="string14" minOccurs="0"/>
			<xs:element name="OwnerEmail" type="string255" minOccurs="0"/>
			<xs:element name="AppCreatorDivision" type="string11" minOccurs="0"/>
			<xs:element name="RegistrationOffice" type="string30" minOccurs="0"/>
			<xs:element name="Organization" type="string1024" minOccurs="0"/>
			<xs:element name="RejectionReason" type="string250" minOccurs="0"/>
			<xs:element name="ContractPlanDate" type="SBRFDateTimeType" minOccurs="0"/>
			<xs:element name="CreditCategory" type="string100" minOccurs="0"/>
			<xs:element name="FeeFrequency" type="string50" minOccurs="0"/>
			<xs:element name="Source" type="string100" minOccurs="0"/>
			<xs:element name="WaveId" type="string15" minOccurs="0"/>
			<xs:element name="UFSId" type="string100" minOccurs="0"/>
			<xs:element name="StatusDetails" type="string30" minOccurs="0"/>
			<xs:element name="CRMOptyNumber" type="string30" minOccurs="0"/>
			<xs:element name="PreviousState" type="string50" minOccurs="0"/>
			<xs:element name="CurrentState" type="string50" minOccurs="0"/>
			<xs:element name="LastVisit" type="string15" minOccurs="0"/>
			<xs:element name="LastUpdDt" type="SBRFDateTimeType"/>
			<xs:element name="Sum" type="decimal7" minOccurs="0"/>
			<xs:element name="PCT" type="decimal7" minOccurs="0"/>
			<xs:element name="Period" type="decimal7" minOccurs="0"/>
			<xs:element name="EFF_PCT" type="decimal7" minOccurs="0"/>
			<xs:element name="EFF_Sum" type="decimal7" minOccurs="0"/>
			<xs:element name="FinalSum" type="decimal7" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="CardFields">
		<xs:sequence>
			<xs:element name="FirstService" type="string255" minOccurs="0"/>
			<xs:element name="SecondService" type="string255" minOccurs="0"/>
			<xs:element name="AdditionalCard" type="string1" minOccurs="0"/>
			<xs:element name="AeroflotCode" type="string100" minOccurs="0"/>
			<xs:element name="IncMobileBank" type="string10" minOccurs="0"/>
			<xs:element name="IncAutoPay" type="string10" minOccurs="0"/>
			<xs:element name="SPOOBKCode" type="string50" minOccurs="0"/>
			<xs:element name="CardTarifCode" type="string10" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="DepositFields">
		<xs:sequence>
			<xs:element name="PeriodDay" type="xs:integer" minOccurs="0"/>
			<xs:element name="GetPct" type="string1" minOccurs="0"/>
			<xs:element name="FirstPay" type="decimal7" minOccurs="0"/>
			<xs:element name="MinimumBalance" type="decimal7" minOccurs="0"/>
			<xs:element name="CapitalizationFlg" type="string1" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="CreditFields">
		<xs:sequence>
			<xs:element name="MonthlyPayment" type="decimal7" minOccurs="0"/>
			<xs:element name="Price" type="decimal7" minOccurs="0"/>
			<xs:element name="IncludeInsurance" type="string1" minOccurs="0"/>
			<xs:element name="MotherFund" type="string1" minOccurs="0"/>
			<xs:element name="MinimumBalancePCT" type="decimal7" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="PointOfDeal">
		<xs:sequence>
			<xs:element name="DivisionId" type="string11" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id ВСП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayrollAgreeId" type="string15" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Id зарплатного договора
                    SBRF Agreement Id
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DirectSalerId" type="string15" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Id сотрудника ПП
                    Primary Position Id
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeToCall" type="string30" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Время звонка (SBRF Preferred Call Time)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VisitPlanDate" type="SBRFDate_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Планируемая дата визита в место оформления
                    Opportunity.SBRF Scheduled VSP Visit
                    SrvNotifyApplicationUpdate.PlannedVisitDate
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VisitPlanTime" type="string30" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Планируемое время визита в место оформления
                    Opportunity.SBRF VSP Visit Time
                    SrvNotifyApplicationUpdate.PlannedVisitTime
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VisitActualDate" type="SBRFDateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Фактическая дата визита в ВСП
                    SBRF Actual VSP Visit
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerPosId" type="string15" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Сотрудник на позиции ответственного заявки
                    SBRF PPRB - Opportunity - NonUI.Primary Position Id
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerEmpId" type="string15" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Сотрудник на позиции ответственного заявки
                    SBRF PPRB - Opportunity - NonUI.SBRF Primary Owner Id
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VisitType" type="string50" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Тип визита заявки
                    TBD
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VisitStartDt" type="SBRFDateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Плановые дата и время начала визита в формате MM/DD/YYYY HH24:MI
                    TBD
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VisitEndDt" type="SBRFDateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Плановые дата и время окончания визита в формате MM/DD/YYYY HH24:MI
                    TBD
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VisitStatus" type="string50" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Статус визита заявки
                    TBD
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VisitComment" type="string500" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Комментарий к визиту заявки
                    TBD
                </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="InsuranceFields">
		<xs:sequence>
			<xs:element name="InsuranceSum" type="decimal7" minOccurs="0"/>
			<xs:element name="PropertyInsurance" type="string50" minOccurs="0"/>
			<xs:element name="InsurancePeriod" type="string30" minOccurs="0"/>
			<xs:element name="AnotherPersonInsurance" type="string1" minOccurs="0"/>
			<xs:element name="InsuredPersonCategory" type="string30" minOccurs="0"/>
			<xs:element name="InsuredPersonSurname" type="string50" minOccurs="0"/>
			<xs:element name="InsuredPersonName" type="string50" minOccurs="0"/>
			<xs:element name="InsuredPersonMiddleName" type="string50" minOccurs="0"/>
			<xs:element name="InsuredPersonBirthday" type="SBRFDate_Type" minOccurs="0"/>
			<xs:element name="InsuredPersonGender" type="string30" minOccurs="0"/>
			<xs:element name="InsuredPersonBirthplace" type="string256" minOccurs="0"/>
			<xs:element name="CreatedByCCFullName" type="string150" minOccurs="0"/>
			<xs:element name="CreatedByCCLogin" type="string50" minOccurs="0"/>
			<xs:element name="CreatedByCCId" type="string30" minOccurs="0"/>
			<xs:element name="UpdatedByCCFullName" type="string150" minOccurs="0"/>
			<xs:element name="UpdateByCCLogin" type="string50" minOccurs="0"/>
			<xs:element name="UpdatedByCCId" type="string30" minOccurs="0"/>
			<xs:element name="AgrId" type="string50" minOccurs="0"/>
			<xs:element name="AgrStatus" type="string1" minOccurs="0"/>
			<xs:element name="DateRegProduct" type="SBRFDate_Type" minOccurs="0"/>
			<xs:element name="DateCancelInsurance" type="SBRFDate_Type" minOccurs="0"/>
			<xs:element name="CreditAgreement" type="string100" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Номер кредитного договора
                    SBRF Insurance Cred Agree Number
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditAgreementDate" type="SBRFDate_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Дата заключения кредитного договора
                    TBD
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuredObject" type="string255" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Адрес застрахованного объекта
                    SBRF Insurance: City + Area + Index + Location + Region + Street
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicyStartDate" type="SBRFDateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Дата начала действия страхового полиса в формате MM/DD/YYYY HH24:MI:SS
                    TBD
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicyEndDate" type="SBRFDateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Дата окончания действия страхового полиса в формате MM/DD/YYYY HH24:MI:SS
                    TBD
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActivityId" type="string15" minOccurs="0"/>
			<xs:element name="ServiceSrId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    ID перехода в ЕФС (заполняется для ТМ внутренний, КЦ при нажатии "Страхование" и переходе в iframe ЕФС-ТМ, после чего является сквозным Id для последующих сервисов)
                    TBD
                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutopayId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id платежа в ЕФС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecialOptyFlag" type="string1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак особой заявки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="OtherProductFields">
		<xs:sequence>
			<xs:element name="StartDate" type="SBRFDateTimeType" minOccurs="0"/>
			<xs:element name="ParentOptyNumber" type="string30" minOccurs="0"/>
			<xs:element name="ComissionPayment" type="decimal7" minOccurs="0"/>
			<xs:element name="PartnerCompany" type="string100" minOccurs="0"/>
			<xs:element name="TarifInfo" type="string10" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                    Тариф для мобильного банка/ССП
                    SBRF Opty Mass.SBRF UFS Mobile Bank Tarif Info
                </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="Mortgage_Opty">
		<xs:sequence>
			<xs:element name="FlagOfDeveloper" type="string1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак устнавливатеся, если продавец является застройщиком</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OptyElectronicRegistration" type="string1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак электронной регистрации сделки в Росреестре</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubsidyOfDeveloper" type="string15" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код программы субсидирования ипотечного кредитования застройщиком</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionalHousingProgramme" type="string1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак участия клиента в региональной жилищной программе (РЖП)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HousingProgrammeName" type="string150" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование РЖП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MothersPaymentForBank" type="decimal7" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма материнского капитала, переданного в банк</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MothersPaymentForDeveloper" type="decimal7" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма материнского капитала, переданного застройщику</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OptyOnTwoDocuments" type="string1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак оформления кредитной заявки по двум документам</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NMSIssueDate" type="SBRFDate_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата выдачи свидетельства НИС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NMSLimitDate" type="SBRFDate_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Предельная дата из сертификата НИС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NMSAdditionalSum" type="decimal7" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма накопленных средств НИС, не указанных в свидетельстве </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NMSCurrentSum" type="decimal7" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма накопленных средств, указанных в свидетельстве  НИС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebtOfRefinancingMortage" type="decimal7" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма задолженности по рефинансируемому ипотечному кредиту</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherRefinancingDebt" type="decimal7" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма иных рефинансируемых обязательств</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SumForNeeds" type="decimal7" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная сумма на личные нужды</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RealEstateEncumbrance" type="string1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак наличия обременения по объекту недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="Mortgage_Member">
		<xs:sequence>
			<xs:element name="Income" type="decimal7" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма дохода участника заявки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IncomeSource" type="string50" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Источник дохода участника заявки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClientCategory" type="string30" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Категория участника заявки (Пенсионер, Студент и т.д.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalIncome" type="decimal7" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма дополнительного дохода участника заявки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlagOfAdditionalIncome" type="string1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак наличия у участника заявки дополнительного дохода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pension" type="decimal7" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма пенсии участника заявки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlagOfCurrentLoan" type="string1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак наличия у участника заявки действующего кредита</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpenseOnLoan" type="decimal7" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Расходы по действующим кредитам</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarriageStatus" type="string30" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус брака участника заявки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Children" type="string1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак наличия несовершеннолетних детей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChildrenQuantity" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество несовершеннолетних детей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dependent" type="string1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак наличия иждивенцев</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DependentQuantity" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество иждивенцев</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AverageExpense" type="decimal7" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Среднемесячные расходы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Businessman" type="string1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак ИП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarriageAgreement" type="string1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак наличия брачного контракта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gender" type="string30" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код пола клиента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISSpouseRFcitizen" type="string1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак наличия у участника гражданства РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TakeIncome" type="string1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак участия доходов участника в расчете</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="AutoCredit">
		<xs:sequence>
			<xs:element name="ProIncomeProv" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Классика/ Экспресс</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProPreOwned" type="string32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Новый/ БУ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProOptionBayback" type="string1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Остаточная стоимость</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProOptionGP" type="string1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Госпрограмма</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Brand" type="string255" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="string255" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Модель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RatesDownpaymentPrc" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Первоначальный взнос</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriceAvg" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стоимость авто</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProCode" type="string2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер кредитного продукта Сетелем</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="AutoPay">
		<xs:sequence>
			<xs:element name="ExtProdCode" type="string50" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Внешний код продукта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cost" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стоимость</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityPeriod" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Период действия в месяцах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTariff" type="string50" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование тарифа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServicePrCode" type="string20" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код поставщика услуг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameProvider" type="string100" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование поставщика услуг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InnProvider" type="string25" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН поставщика услуг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SettlementProvider" type="string20" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Расчетный счет поставщика услуг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BankAccountProvider" type="string50" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Лицевой счет поставщика услуг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypePayment" type="string50" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип поступление платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalProduct" type="string50" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная информация о продукте</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="Reserved">
		<xs:sequence>
			<xs:element name="Reserved1" type="string100" minOccurs="0"/>
			<xs:element name="Reserved2" type="string100" minOccurs="0"/>
			<xs:element name="Reserved3" type="string100" minOccurs="0"/>
			<xs:element name="Reserved4" type="string100" minOccurs="0"/>
			<xs:element name="Reserved5" type="string100" minOccurs="0"/>
			<xs:element name="Reserved6" type="string500" minOccurs="0"/>
			<xs:element name="Reserved7" type="string500" minOccurs="0"/>
			<xs:element name="Reserved8" type="string500" minOccurs="0"/>
			<xs:element name="Reserved9" type="string500" minOccurs="0"/>
			<xs:element name="Reserved10" type="string500" minOccurs="0"/>
			<xs:element name="Reserved11" type="string1000" minOccurs="0"/>
			<xs:element name="Reserved12" type="string1000" minOccurs="0"/>
			<xs:element name="Reserved13" type="string1000" minOccurs="0"/>
			<xs:element name="Reserved14" type="string1000" minOccurs="0"/>
			<xs:element name="Reserved15" type="string1000" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="IMNotifyApplicationUpdateRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="Application">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClientInfo" type="ClientInfo_Type" minOccurs="0"/>
							<xs:element name="ApplicationInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:group ref="CommonFields"/>
										<xs:group ref="CardFields"/>
										<xs:group ref="DepositFields"/>
										<xs:group ref="CreditFields"/>
										<xs:group ref="InsuranceFields"/>
										<xs:group ref="OtherProductFields"/>
										<xs:group ref="PointOfDeal"/>
										<xs:group ref="Mortgage_Opty"/>
										<xs:group ref="AutoCredit"/>
										<xs:group ref="AutoPay"/>
										<xs:group ref="Reserved"/>
										<xs:element name="EmployeeList" type="EmployeeList_Type" minOccurs="0"/>
										<xs:element name="MemberList" type="MemberList_Type" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
